<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Nahom Tekle">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="icon" href="../static/images/Afro.ico" type="image/gif" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>RealEstateHub</title>
</head>

<body>
    <nav>
        <div class="nav__bar">
            <div class="nav__logo"><a href="#">RealEstateHub</a></div>
            <ul class="nav__links">
                <li class="link"><a href="#home">HOME</a></li>
                <li class="link"><a href="#about">ABOUT</a></li>
                <li class="link"><a href="#property">PROPERTY</a></li>
                <li class="link"><a href="#contact">CONTACT</a></li>
            </ul>
            <div class="nav__btns">
                <button class="btn btn__primary">Log In</button>
                <button class="btn btn__secondary">Register Now</button>
            </div>
        </div>
    </nav>
    <!--Header-->
    <header class="header">
        <div class="header__container">
            <section id="search-section">
                <form id="search-form">
                    <div class="form-group">
                        <select id="amenity" name="amenity">
                            <option value="">Select Amenity</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="state" name="state">
                            <option value="">Select State</option>
                        </select>
                    </div>
                    <button type="button" id="search-button">Search</button>
                </form>
            </section>
            <div class="header__content">
                <h1>Unlock Your Dream Home!</h1>
                <p>
                    Embark on an exciting journey to find your dream home with us!
                    Explore our vibrant listings and let our passionate team lead
                    you to your perfect property. Your dream home awaits -let's
                    make it a reality together!
                </p>
                <div class="header__btns">
                    <div class="btn btn__secondary">Buy Now</div>
                    <div class="btn btn__primary">Learn More</div>
                </div>
            </div>
            <div class="header__image">
                <img src="../static/images/home 2.jpg" alt="header" />
            </div>
        </div>
    </header>

    <!--About-->
    <section class="section__container about__container" id="about">
        <div class="about__image">
            <img src="../static/images/AfroCentric.jpeg" alt="about" />
        </div>
        <div class="about__content">
            <h3>ABOUT US</h3>
            <h2 class="section__header">
                "Leading real estate firm in Uganda."
            </h2>
            <p class="section__subheader">
                Welcome to RealEstateHub, where your dream home adventure begins!
                Our dynamic platform and passionate team are here to make your real estate
                journey exciting and stress-free. Let's embark on this journey together
                and turn your dreams into reality!"
            </p>
            <div class="about__grid">
                <div class="about__card">
                    <h4>PRIVIOUS PROJECT</h4>
                    <P>+34</P>
                </div>
                <div class="about__card">
                    <h4>YEARS EXPERIENCE</h4>
                    <P>10+</P>
                </div>
                <div class="about__card">
                    <h4>USERS</h4>
                    <P>+30,000</P>
                </div>
            </div>
        </div>
    </section>

    <section class="property__container" id="property">
        <div class="property__header">
            <h2 class="section__header">Buy Property</h2>
            <p class="section__subheader">We are dedicated to helping you find your dream property with ease and
                confidence.</p>
        </div>
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                {% for property in properties %}
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="property__card">
                        <img src="{{ property.image_path }}" alt="property" />
                        <div class="property__content">
                            <div class="property__details">
                                <h4>{{ property.name }}</h4>
                                <p>
                                    <span><i class="ri-map-pin-line"></i></span>
                                    Location: {{ property.city_id }} <!-- Adjust this based on your property model -->
                                </p>
                                <button>Book Now</button>
                            </div>
                            <div class="project__ratings">
                                <!-- Ratings and price -->
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="section__container contact__container" id="contact">
        <div class="contact__image">
            <img src="../static/images/appartment2.jpeg" alt="contact" />
        </div>
        <div class="contact__content">
            <h2 class="section__header">Contact Us</h2>
            <p class="section__subheader">
                Discover the difference, where expertise meets excellence in real
                estate. Let's embark on this exciting journey together.
            </p>
            <form action="#" id="contact-form">
                <div class="form__group">
                    <input type="text" id="first_name" placeholder="First Name" />
                    <input type="text" id="last_name" placeholder="Last Name" />
                </div>
                <div class="form__group">
                    <input type="text" id="email" placeholder="Email Address" />
                    <input type="text" id="phone_number" placeholder="Phone Number" />
                </div>
                <textarea id="description" cols="30" rows="5" placeholder="Description"></textarea>
                <button type="submit" id="submit">SEND MESSAGE</button>
            </form>
        </div>
    </section>
    

    <!--footer-->
    <footer class="footer">
        <div class="section__container footer__container">
            <div class="footer__col">
                <h4>RealEstateHub</h4>
                <p>
                    Our team of seasoned professionals is committed to providing you
                    with exceptional service, in-depth market knowledge, and
                    personalized solutions tailored to your unique needs.
                </p>
                <div class="footer__socials">
                    <span>
                        <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                    </span>
                    <span>
                        <a href="#"><i class="ri-instagram-line"></i></a>
                    </span>
                    <span>
                        <a href="#"><i class="ri-twitter-fill"></i></a>
                    </span>
                </div>
            </div>
            <div class="footer__col">
                <h4>Company Info</h4>
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#property">Property</a>
                <a href="#contact">Contact</a>
            </div>
            <div class="footer__col">
                <h4>Resources</h4>
                <a href="#">Terms</a>
                <a href="#">Conditions</a>
                <a href="#">Policy</a>
            </div>
            <div class="footer__col">
                <h4>Contact</h4>
                <a href="#">
                    <span><i class="ri-mail-line"></i></span> kiflunahom1994@gmail.com
                </a>
                <a href="#">
                    <span><i class="ri-phone-line"></i></span> +256701540135
                </a>
            </div>
        </div>
        <div class="footer__bar">
            <p>&copy; 2024 RealEstateHub. All rights reserved.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/scripts/scripts.js"></script>
</body>

</html>